{% extends 'base.html' %}
{% block title %}Detail page{% endblock title %}

{% block body %}
<h1>edit</h1>
<form action="{% url 'update' pk=student.pk %}" method="GET">
  <div>
    name: <input type="text" name="name" value="{{ student.name }}">  
    {% comment %} placeholder -> guide제공, 실제 있는 값 아님,있는 값으로 착각가능 {% endcomment %}
  </div>
  <div>
    age: <input type="text" name="age" value="{{ student.age }}">
  </div>
  <div>
    major: <input type="text" name="major" value="{{ student.major }}">
  </div>
  intro: <textarea name="intro" cols="30" rows="5">{{ student.intro }}</textarea>

  <div>
    <input type="submit" class="btn btn-primary">
  </div>
</form>
{% endblock body %}