{% extends 'base.html' %}

{% block content %}
  <h1>edit</h1>
  <form action=" {% url 'update' article.id %}" method = "POST">   
  {% comment %} url = create일때 문제 발생 {% endcomment %}
    {% csrf_token %}
    <div>
      title: <input type="text" name= 'title' value = "article.title">
    </div>

      content :<textarea name="content" cols="30" rows="10" value= "article.content"></textarea>
    
    <div>
      <input type="submit" class= "btn btn-primary">
    </div>
  </form>

    <div>
      <a href=" {% url 'index' %}">back</a>
    </div>
{% endblock content %}